<title>提交成功</title>
<link rel="stylesheet" type="text/css" href="/css/devise.css">

<div class="main contain">
  <h1>提交成功</h1>
  <hr class="hr">
  <div class="content" style="min-height: 300px;">
      <p>我们已经收到您的投诉建议，将在第一时间做出处理，并通过电话或邮件的方式通知您。</p>
      <a href="/service">点击返回客户服务></a>
  </div>
</div>



