<link rel="stylesheet" type="text/css" href="/css/newsspec.css">
<div class="mainfield">
    <div class="text-field contain">
        <h5><%= @honor.title %></h5>
        <hr class="hr">
        <div class="body" id="productbody"><%= @honor.text.html_safe%></div>
    </div>
</div>
