<!--specialnews two index-->
<link rel="stylesheet" type="text/css" href="/css/specialnews.css">
<div class="main contain">
    <div class="topnews">
        <h1>〝CIBF2016〞登陆鹏城，科陆储能闪耀全场</h1>
    </div>
    <hr class="hr">
    <div class="topnewscontent">
        <div class="newsimg" style='background-image: url("../img/specialnews/01pic.jpg")'></div>
        <p class="newsoutline"> &nbsp; &nbsp;&nbsp;&nbsp;号外号外！小伙伴们，精彩纷呈的20周年司庆系列活动即将拉开序幕，欢迎大家踊跃报名~~</p>
    </div>
    <hr style="margin-bottom: 50px;">
    
    <div class="photowall">
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/8.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <div class="figcaption">
                <h3>8月-竞技拔河</h3>
                <p class="newscontentp typetwop">科陆精神 奋斗拼搏</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/9.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <div class="figcaption">
                <h3>9月-让我们约会吧</h3>
                <p class="newscontentp typetwop">科陆人文 快乐工作 快乐生活</p>
            </div>
        </div>
        
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/10.jpg"); margin-right: 0;' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <div class="figcaption">
                <h3>10月-环保徒步行</h3>
                <p class="newscontentp typetwop">足迹印证梦想 成就绿色未来</p>
            </div>
        </div>
        
    </div>
    
    <div class="photowall">
        <div class="specialnews typeone" style='background-image: url("../img/specialnews/11.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <div class="figcaption">
                <h3>11月-科陆春晚直通车</h3>
                <p class="newscontentp typetwop">科陆大舞台 有才你便来</p>
            </div>
        </div>
        
        <div class="specialnews typetwo" style='background-image: url("../img/specialnews/12.jpg")' id="topic_two">
            <div class="gradient-cover">
                
            </div>
            <div class="figcaption">
                <h3>12月-科陆宝宝圣诞狂欢夜</h3>
                <p class="newscontentp typetwop">小家 大家 科陆一家亲</p>
            </div>
        </div>
</div>
    
    
    
    
    
    
</div>
