<link rel="stylesheet" type="text/css" href="/css/specialnews.css">
<div class="main contain">
    <div class="topnews">
        <h1>〝CIBF2016〞登陆鹏城，科陆储能闪耀全场</h1>
    </div>
    <hr class="hr">
    <div class="topnewscontent">
        <div class="newsimg" style='background-image: url("../img/specialnews/01pic.jpg")'></div>
        <p class="newsoutline"> &nbsp; &nbsp;&nbsp;&nbsp;5月24日，由中国化学与物理电源行业协会主办、被誉为“电池行业第一展”的“第十二届中
        国国际 电池技术交流会/展览会（CIBF2016）”在深圳会展中心拉开帷幕。2016年是“十三五”的开局之年，在今年召开“中国国际电池技术交流会/展览会”，既为国内外电池产业
        人士提供了交流“十二五”科研与应用成果的机会，也有助于厘清我国电池行业今后五年的发展方向，可以说是电池界一次“承上启下”的盛会。</p>
    </div>
    <hr style="margin-bottom: 50px;">
</div>