<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="allproducts container">
    <div class="title">
        <h6>搜索结果</h6>
        <hr class="righthr" style="top:90px !important;">
    </div>

    <ul class="products_list">
        <%= @result %>
    </ul>
</div>
