<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="allproducts container">
    <div class="title">
        <h6>搜索结果</h6>
        <hr class="righthr" style="top:90px !important;">
    </div>

    <ul class="products_list">
        <% @result.each do |result| %>
        <p><%= result["_source"]["name"] if result["_type"] == "product" %></p>
        <% end %>
    </ul>
</div>
