<link rel="stylesheet" type="text/css" href="/css/about_us.css">
<div class="aboutusnav">
    <div class="navlinks contain">
        <h7>关于科陆</h7>
        <a href="/contact_us" class="nav-links">联系我们</a>
        <a href="/" class='nav-links'>公司历史</a>
        <a href="/investors" class='nav-links'>投资者关系</a>
    </div>
</div>

<div class="aboutusbanner">
    <div class="aboutusslogan contain">
        <h8>国家重点高新技术企业</h8>
    </div>
</div>

<div class="distribution contain">
    <h9>新能源</h9>
    <h9>电动汽车生态圈</h9>
    <h9>能源智能服务</h9>
    <h9>智慧工业</h9>
    <h9>智慧城市</h9>
    <h9 style="margin-right:0;">能源金融</h9>
    <!--<h9>新能源</h9>-->
</div>
<div class="concept contain">
    
    <div class="historyimg" style="background-image: url('../img/about_us/history.png'"></div>
    <h10>我们的理念</h10>
    
    <div class="conceptcontant">
        <div class="lefttext concepttext">
            <h11>尊重</h11>
            <p class="conceptp">尊重客户、尊重员工、尊重合作伙伴</p>
            
        </div>
        <div class="conceptrightimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="righttext concepttext">
            <h11>快乐</h11>
            <p class="conceptp righttextp">快乐工作、快乐生活、快乐学习</p>
        </div>
        <div class="conceptleftimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="lefttext concepttext">
            <h11>成就</h11>
            <p class="conceptp">成就客户、成就个人、成就公司</p>
        </div>
        <div class="conceptrightimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="righttext concepttext">
            <h11>分享</h11>
            <p class="conceptp righttextp">分享知识、分享荣誉、分享成果、分享快乐</p>    
        </div>
        <div class="conceptleftimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="lefttext concepttext">
            <h11>感恩</h11>
            <p class="conceptp">感恩社会、感恩客户、感恩亲人、感恩同事、感恩公司</p>         
        </div>
        <div class="conceptrightimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="righttext concepttext">
            <h11>负责</h11>
            <p class="conceptp righttextp">对客户负责、对工作负责、对家庭负责</p>         
        </div>
        <div class="conceptleftimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
</div>

<div class="aboutusvideo">
    
</div>

