<link rel="stylesheet" type="text/css" href="/css/about_us.css">
<div class="aboutusnav">
    <div class="navlinks contain">
        <h7>关于科陆</h7>
        <a href="/contact_us" class="nav-links">联系我们</a>
        <a href="/" class='nav-links'>公司历史</a>
        <a href="/investors" class='nav-links'>投资者关系</a>
    </div>
</div>

<div class="aboutusbanner">
    <div class="aboutusslogan contain">
        <h8>国家重点高新技术企业</h8>
        <h16>为智慧能源和能源互联网提供核心技术与系统解决方案</h16>
        <a class="btn btn-primary banner-btn" href="/" role="button">点击了解详情</a>
    </div>
</div>

<div class="startandmarket">
    <div class="starttimeline contain">
        <div class="historyimg" style="background-image: url('../img/about_us/history.png'"></div>
        <h10>公司成立与上市</h10>
        <div class="startandmarketcontant">
            <div class="startleftimage" style="background-image: url('../img/about_us/aboutusbanner.jpg');">

            </div>
            <div class="startrighttext">
                <h11>1996年</h11>
                <p class="startp">深圳市科陆电子科技股份有限公司成立</p>
            </div>
        </div>
        <div class="startandmarketcontant">
            <div class="startrightimage" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
                
            </div>
            <div class="startlefttext">
                <h11>2007年3月</h11>
                <p class="conceptp">在深圳证券交易所挂牌上市<br>（股票代码 : 002121）</p>
            </div>
        </div>
    </div>
    
    <div class="business contain">
        <div class="historyimg" style="background-image: url('../img/about_us/history.png');"></div>
        <h10>业务布局</h10>
        <div class="businessicon"></div>
        <div class="businessicon"></div>
        <div class="businessicon"></div>
        <div class="businessicon"></div>
        <div class="businessicon"></div>
        <div class="businessicon"></div>
    </div>
</div>

<div class="distribution contain">
    <h9>新能源</h9>
    <h9>电动汽车<br>生态圈</h9>
    <h9>能源<br>智能服务</h9>
    <h9>智慧工业</h9>
    <h9>智慧城市</h9>
    <h9 style="margin-right:0;">能源金融</h9>
    <!--<h9>新能源</h9>-->
</div>
<div class="concept contain">
    
    <div class="historyimg" style="background-image: url('../img/about_us/history.png'"></div>
    <h10>我们的理念</h10>
    
    <div class="conceptcontant">
        <div class="lefttext concepttext">
            <h11>尊重</h11>
            <p class="conceptp">尊重客户、尊重员工、尊重合作伙伴</p>
            
        </div>
        <div class="conceptrightimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="righttext concepttext">
            <h11>快乐</h11>
            <p class="conceptp righttextp">快乐工作、快乐生活、快乐学习</p>
        </div>
        <div class="conceptleftimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="lefttext concepttext">
            <h11>成就</h11>
            <p class="conceptp">成就客户、成就个人、成就公司</p>
        </div>
        <div class="conceptrightimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="righttext concepttext">
            <h11>分享</h11>
            <p class="conceptp righttextp">分享知识、分享荣誉、分享成果、分享快乐</p>    
        </div>
        <div class="conceptleftimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="lefttext concepttext">
            <h11>感恩</h11>
            <p class="conceptp">感恩社会、感恩客户、感恩亲人、感恩同事、感恩公司</p>         
        </div>
        <div class="conceptrightimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
    
    <div class="conceptcontant">
        <div class="righttext concepttext">
            <h11>负责</h11>
            <p class="conceptp righttextp">对客户负责、对工作负责、对家庭负责</p>         
        </div>
        <div class="conceptleftimg" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
            
        </div>
    </div>
</div>

<div class="aboutusvideo">
    
</div>

<div class="companyhistory">
    <div class="companyhistorycontent contain">
        <div class="historyimg" style="background-image: url('../img/about_us/history.png'"></div>
        <h10>发展历程</h10>
        
        <ul class="timeline">
            <li class="right-block cf">
                
                <div class="text-block">
                    <h12>1996年公司成立</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            <li class="left-block cf">
                
                <div class="text-block">
                    <h12>2002年电测仪器仪表<br>全国市场份额第一</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            <li class="right-block cf">
                
                <div class="text-block">
                    <h12>成功上市</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
            <li class="left-block cf">
                
                <div class="text-block">
                    <h12>中国驰名商标</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
            <li class="right-block cf">
                
                <div class="text-block">
                    <h12>新能源行业会长</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
            <li class="left-block cf">
                
                <div class="text-block">
                    <h12>储能领军地位</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
            <li class="right-block cf">
                
                <div class="text-block">
                    <h12>科陆东自新三板上市</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
        </ul>

    </div>
</div>

<div class="contactuspart" style="background-image: url('../img/about_us/aboutusbanner.jpg');">
    <div class="contactuspartcontent contain">
        <div class="contactslogan">
            <h14>倾力打造世界级的能源服务商</h14>
            <h15>科陆人将以专业化、国际化的眼光，满怀信心迎接挑战</h15>
        </div>

    </div>
    <div class="slogonbackground">
        
    </div>
    <div class="tocontactus">
        <p class="storybanner">马上联系我们了解详细信息</p> 
        <a class="storylink" href="/contact_us">联系我们&gt;</a>
    </div>
    
</div>
