<title>联系我们</title>
<link rel="stylesheet" type="text/css" href="/css/about_us.css">
<hr style="top:91px;">
<div class="page_name">联系我们</div>
<hr class= "redline"></hr>

<div class="head_name">深圳市科陆电子科技股份有限公司</div>
<img class="productimg" src="/public/img/about_us/map.jpg" alt="clou map">
<div class="head_address">
    </p>总部地址：深圳市南山区科技园北区宝深路科陆大厦</p>
    </p>电话：0755-33309999</p>
    </p>传真：0755-26719679</p>
    </p>邮政编码：518057</p>
</div>

<div class="map"></div>

<div class="branch_name">国内销售热线：0755-36901041（如知最终用户，请直接联系当地办事处）</div>
<div class="branch_address">
    </p>传真：0755-36901033</p>
    </p>电子信箱：marketing@szclou.com</p>
</div>


<div class="branch_name">科陆工业园</div>
<div class="branch_address">
    </p>工业园地址：深圳市龙岗区宝龙工业城宝龙一路与清风大道交叉口科陆电子工业园</p>
    </p>电话：0755-33291688</p>
    </p>传真：0755-33291647</p>
    </p>邮政编码：518018</p>
</div>

<div class="branch_name">四川科陆新能电气有限公司</div>
<div class="branch_address">
    </p>地址：成都市武侯区工业园武科西四路99号</p>
    </p>电话：028-85331355</p>
    </p>传真：028-85331355</p>
    </p>邮政编码：610045</p>
</div>

<div class="branch_name">苏州科陆东自电气有限公司</div>
<div class="branch_address">
    </p>地址：江苏省昆山市淀山湖镇曙光路195号</p>
    </p>电话：0512-83631891</p>
    </p>传真：0512-83631892</p>
    </p>邮政编码：215345</p>
</div>

