<title>联系我们</title>
<link rel="stylesheet" type="text/css" href="/css/about_us.css">

<div class="map"></div>

<!--mars change-->
<div class="mainview contain">
    <h1>联系我们</h1>
    <hr class="hr">
    <div class="head_company">
        <div class="head_left">
            <h2>深圳市科陆电子科技股份有限公司</h2>
            <p class="contactp">总部地址：深圳市南山区科技园北区宝深路科陆大厦</p>
            <p class="contactp">电话：0755-33309999</p>
            <p class="contactp">传真：0755-26719679</p>
            <p class="contactp">邮政编码：518057</p>
        </div>
    </div>
    <hr class="hr">
    <div class="branch_one">
        <h3>国内销售热线：0755-36901041</h3><h4>（如知最终用户，请直接联系当地办事处）</h4>
        <p class="contactp" style="margin-top: 20px;">传真：0755-36901033</p>
        <p class="contactp">电子信箱：marketing@szclou.com</p>
    </div>
            <!--<hr class="hr" style="display:inline-block;">-->
            <!--<hr class="hr" style="display:inline-block;float:right;position:relative;right:46%;">-->


     <div class="branch_two">


         <div class="branch_left">
             <hr class="hr">
             <h2 style="margin-top: 30px;">科陆工业园</h2>
            <p class="contactp">工业园地址：深圳市龙岗区宝龙工业城宝龙一路与清风大道交</p>
            <p class="contactp">&emsp;&emsp;&emsp;&emsp;&emsp;&emsp;叉口科陆电子工业园</p>
            <p class="contactp">电话：0755-33291688</p>
            <p class="contactp">传真：0755-33291647</p>
            <p class="contactp">邮政编码：518018</p>
         </div>
         <div class="branch_right">
            <hr class="hr">
            <h2 style="margin-top: 30px;">四川科陆新能电气有限公司</h2>
            <p class="contactp">地址：成都市武侯区工业园武科西四路99号</p>
            <p class="contactp">电话：028-85331355</p>
            <p class="contactp">传真：028-85331355</p>
            <p class="contactp">邮政编码：610045</p>
         </div>
    </div>
    <hr class="hr">
    <div class="branch_three">
        <h2>苏州科陆东自电气有限公司</h2>
        <p class="contactp">地址：江苏省昆山市淀山湖镇曙光路195号</p>
        <p class="contactp">电话：0512-83631891</p>
        <p class="contactp">传真：0512-83631892</p>
        <p class="contactp">邮政编码：215345</p>
    </div>
    
    
</div>