<link rel="stylesheet" type="text/css" href="/css/about_us.css">
<title>公司历史</title>
<div class="companyhistory">
    <div class="companyhistorycontent contain">
        <div class="historyimg" style="background-image: url('../img/about_us/history.png'"></div>
        <h10>公司历史</h10>
        
        <ul class="timeline">
            <li class="right-block cf">
                
                <div class="text-block">
                    <h12>1996年公司成立</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            <li class="left-block cf">
                
                <div class="text-block">
                    <h12>2002年电测仪器仪表<br>全国市场份额第一</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            <li class="right-block cf">
                
                <div class="text-block">
                    <h12>成功上市</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
            <li class="left-block cf">
                
                <div class="text-block">
                    <h12>中国驰名商标</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
            <li class="right-block cf">
                
                <div class="text-block">
                    <h12>新能源行业会长</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
            <li class="left-block cf">
                
                <div class="text-block">
                    <h12>储能领军地位</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
            <li class="right-block cf">
                
                <div class="text-block">
                    <h12>科陆东自新三板上市</h12>
                    <span class="circle"></span>
                </div>
                
            </li>
            
        </ul>
    </div>
        
</div>