<link rel="stylesheet" type="text/css" href="/css/investors.css">
<title>Investors</title>
<div class="investorsnav">
    <div class="navlinks">
        <h1>投资者关系</h1>
        <%= link_to "投资者联系方式", society_recuritments_path, class:"nav-links"%>
        <a href="mailto:sunnyhuang729@163.com" class="nav-links">董秘邮箱</a>
        <a href="/leaders" class="nav-links">公司成员</a>
        <%= link_to "关于科陆", stories_news_index_path, class:"nav-links"%>
    </div>
</div>

<div class="leaderbanner">
    <div class="investorscover">
        
    </div>

</div>

<div class="investorslogan contain">
    <h2>我是文案文案文案文案文案文案文案文案</h2>`
    <h3>我是小文案</h3>
    <hr class="hr">
</div>
