<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="leftmenu">
    <h5>客服案例</h5>
    <hr class="hr">
    <ul>
        <% counter = 1%>
        <% @case_types.each do |type| %>
        <li>
            <% if counter == 1%>
                <%= link_to(type.name, case_type_service_cases_path(type), remote: :true, id: "first_field", class: "typeslink") %>
            <% else %>
                <%= link_to(type.name, case_type_service_cases_path(type), remote: :true, class: "typeslink") %>
            <% end %>
            
        </li>
        <% counter += 1%>
        <% end %>
        

    </ul>
</div>
<div class="rightproducts">
    <div class="title">
        
        <hr class="righthr">
    </div>
    <ul class="products_list current" id="1">
    </ul>

    <input class="target" type="text" value="Field 1" style="display:none;">
</div>
<input class="target" type="text" value="Field 1" style="display:none;">


<style type="text/css">
	.producttitle {
    color: #211c19;
    font-size: 20px;
  }


</style>


<script>

    $(function () {
    // page switch after ajax
            $('body').on("change", ".target", function(e) {
                e.preventDefault();
            var appStepsTotal = $('.products_list').length;
            if (appStepsTotal == 1) {
                $('#next').hide();
            }
                
                 $("#next").hide();
            });
    
    
        $('body').on('click', '#next', function(e){
        //do stuff
            var stepNumber = 0,
            sumProgPortion = 0,
            appStepsTotal = $('.products_list').length,
            progPortion = 100 / appStepsTotal;
            e.preventDefault();

            var $inView = $('.current');


            $('.current').next().removeClass('next').addClass('current');
            $inView.removeClass('current').addClass('prev');
        
            stepNumber++;
        
            sumProgPortion = sumProgPortion + progPortion;
        
            if (stepNumber > 0) {
              $('#prev').show();
            }
            
            // window.alert(appStepsTotal);
            if (appStepsTotal === 1) {
                $('#next').hide();
                
            }
            
        
            if (stepNumber === appStepsTotal - 1) {
              $('#next').hide();
              e.stopPropagation();
            }
            window.scrollTo(0, 0);
        });
        
        
        $('body').on('click', '#prev', function(e){
            var stepNumber = 0,
            sumProgPortion = 0,
            appStepsTotal = $('.products_list').length,
            progPortion = 100 / appStepsTotal;
            
            e.preventDefault();
        
            var $inView = $('.current');
        
            $('.current').prev().removeClass('prev').addClass('current');
            $inView.removeClass('current').addClass('next');
        
            stepNumber--;

            if (stepNumber < 1) {
              $(this).hide();
            }

            if (stepNumber < appStepsTotal - 1) {
              $('#next').show();
              $('.submit-btn').hide();
            }
            window.scrollTo(0, 0);
        });

        
        
    $(document).ready(function() {
    // jQuery code goes here
    document.getElementById('first_field').click();
    $('#first_field').addClass("visited");

    $('.typeslink').click(function(){
        $('.typeslink').removeClass('visited');
        $(this).addClass("visited");
    });
    });
 
})

</script>

