.joinusnav {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #c4261d;
    top: 90px;
}

@media (max-width: 1500px) {
    .navlinks {
        width: 70% !important;
    }
}

.navlinks {
    width: 60%;
    margin: auto;
    
}

h1 {
    font-size: 24px;
    margin: 0;
    line-height: 50px;
    color: white;
    display: inline-block;
}

.nav-links {
    color: white;
    font-size: 16px;
    margin-left: 30px;
    float: right;
    line-height: 50px;
}

.nav-links:hover, nav-links:active {
    color: white;
}

.joinusbanner {
    position: relative;
    top: 90px;
    background-image: url("../img/product/productbanner.jpg") !important;
    height: 810px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    overflow: hidden;
    /*margin-top: -30px;*/
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.joinusslogan {
    
}