.joinusnav {
    position: relative;
    width: 100%;
    height: 50px;
    background-color: #c4261d;
    top: 90px;
}

body {
    background-color: white;
}

@media (max-width: 1500px) {
    .navlinks {
        width: 70% !important;
    }
    
    .joinusslogan {
        width: 70% !important;
    }
    
    .recuritments {
        width: 70% !important;
    }
}

.navlinks {
    width: 60%;
    margin: auto;
    
}

h1 {
    font-size: 24px;
    margin: 0;
    line-height: 50px;
    color: white;
    display: inline-block;
}

.nav-links {
    color: white;
    font-size: 16px;
    margin-left: 30px;
    float: right;
    line-height: 50px;
}

.nav-links:hover, nav-links:active {
    color: white;
}

.joinusbanner {
    position: relative;
    top: 90px;
    background-image: url("../img/join_us/joinusbanner.jpg") !important;
    height: 810px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    overflow: hidden;
    /*margin-top: -30px;*/
    text-align: center;
}

h2 {
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.joinusslogan {
    width: 60%;
    margin: auto;
    text-align: left;
    margin-top: 400px;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
    color: white;
    margin-bottom: 50px;
}

.hr {
    position: relative;
    border: 2.5px solid #c4261d;
    width: 81px;
    
    margin-left: 2px;
} 

.ourstory-background {
    text-align: center;
    position: relative;
    opacity: 0.4;
    background: RGBA(255,255,255, 0.4);
    filter: alpha(opacity=40);
    height: 90px;
    margin-top: 160px;
}

.storybanner {
    position: relative;
    font-size: 30px;
    color: #343434;
    line-height: 90px;
    display: inline-block;
}

.storylink {
    color: #C4261D;
    font-size: 30px;
    display: inline-block;
    margin-left: 40px;
}

.ourstoryreal {
    position: relative;
    z-index: 99999;
    top: -90px;
    background-color: transparent;
}

.recuritments {
    width: 60%;
    height: 920px;
    background-color: white;
    margin: auto;
    color: #343434;
    position: relative;
    top: 90px;
}

.supercoolslogan {
    position: relative;
    font-size: 30px;
    line-height: 50px;
    color: #343434;
    margin-bottom: 0;
    margin-top: 110px;
}

.recuritmentsfield {
    height: 415px;
    margin-bottom: 120px;
    margin-top: 95px;
}

.society {
    height: 415px;
    /*width: 490px;*/
    width: 42.5%;
    float: left;
    position: relative;
}

.campus {
    height: 415px;
    /*width: 490px;*/
    width: 42.5%;
    float: right;
    position: relative;
}

.society-img {
    background-color: #c4261d;
    width: 100%;
    height: 270px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
    
}

.campus-img {
    background-color: #c4261d;
    width: 100%;
    height: 270px;
    position: relative;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;  
}

.recuritments-link {
    margin-top: 10px;
    font-size: 30px;
    color: #c4261d;
    line-height: 50px;
}

.intro {
    font-size: 20px;
    color: #343434;
}