.nav-links:hover, nav-links:active {
    color: white;
}

.servicebanner {
    position: relative;
    top: 90px;
    background-image: url("../img/join_us/joinusbanner.jpg") !important;
    height: 650px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    overflow: hidden;
    /*margin-top: -30px;*/
    text-align: center;
}




.servicecover {
    background-color: rgba(0,0,0,0.4);
    filter: alpha(opacity=40);
    opacity: 1;
    width: 100%;
    position: absolute;
    height: 810px;
}


.servicecontactbanner {
    position: relative;
    top: 90px;
    background-image: url("../img/join_us/joinusbanner.jpg") !important;
    height: 450px;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    width: 100%;
    overflow: hidden;
    /*margin-top: -30px;*/
    text-align: center;
}

.servicecontactbannercover {
    background-color: black;
    opacity: 0.4;
    width: 100%;
    position: absolute;
    height: 450px;
}

h2 {
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
}

.serviceslogan {
    text-align: left;
    position: relative;
    top: 240px;
    margin: auto;
    width: 60%;
}

h3 {
    font-size: 30px;
    margin-top: 20px;
    color: white;
    margin-bottom: 50px;
}

.ourstory-background {
    text-align: center;
    position: relative;
    opacity: 1;
    background: RGBA(255,255,255, 0.4);
    filter: alpha(opacity=40);
    height: 90px;
    top: 370px;
}

@media (max-width: 1300px) {
    .ourstory-background {
        top: 320px !important;
    }
}

.storybanner {
    position: relative;
    font-size: 30px;
    color: #343434;
    line-height: 90px;
    display: inline-block;
}

.storylink {
    color: #C4261D;
    font-size: 30px;
    display: inline-block;
    margin-left: 40px;
    position: relative;
    line-height: 90px;
    vertical-align: top;
}

.ourstoryreal {
    position: relative;
    text-align: center;
    margin: auto;
    background-color: transparent;
}

.servicelink {
    color: #343435;
    font-size: 20px;
}

h5 {
    color: #343435;
    font-size: 30px;
    vertical-align: top;
    margin-left: 20px;
    margin-top: 30px;
    display: inline-block;
}

.servicep {
    font-size: 20px;
    margin-bottom: 30px;
    margin-top: 40px;
    color: #343435;
    margin-top: 60px;
}

.earphoneicon {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    height: 50px;
    width: 50px;
    display: inline-block;
    margin-top: 25px;
    overflow: hidden;
    text-align: center;
}

.singleservice {
    height: 350px;
    border-top: 1px solid #E1E1E1;
    position: relative;
    width: 47%;
    display: inline-block;
    
}

.servicescontainer {
    position: relative;
     top: 185px;
}

.servicecontactslogan {
    text-align: left;
    position: relative;
    top: -190px;
    margin: auto;
}

h6 {
    margin: 0;
    font-size: 50px;
    margin-bottom: 20px;
    color: white;
    
}

.servicecontactslogonp {
    color: white;
    font-size: 30px;
}

.groupcontact {
    position: relative;
    margin: auto;
    top: 22px;
}

.subgroupcontact {
    position: relative;
    margin: auto;
    top: 100px;
    margin-bottom: 100px;
}


.hr {
    position: relative;
    border: 1.5px solid #c4261d;
    width: 40px;
    margin-left: 5px;
    margin-bottom: 30px;
    
}

h7 {
    color: black;
    font-size: 20px;
    position: relative;
    margin-bottom: 20px;
}