body {
    background-color: white;
    font-family:"Microsoft Yahei";
}

.main {
    position: relative;
    top: 91px;
    height: auto;
    width: 69%;
    margin: auto;
}

.content{
    position: relative;
    /*height: auto;*/
    margin: auto;
    margin-top: 103px;
    height: 500px;
    text-align: center;
}

.block_left{
    position:relative;
    margin-top: 8px;
    vertical-align: top;
    display: inline-block;
    width: 92px;
}

.block_right{
    position:relative;
    display: inline-block;
    width: 335px;
    vertical-align: top;
}

h1 {
    margin-top: 50px;
    font-size: 30px;
    color: #2c2724;
    margin-bottom: 50px;
}

.hr {
    position: relative;
    border: 3px solid #c4261d;
    width: 71px;
    margin-left: 2px;
} 

.myfield {
    width: 335px;
    height: 45px;
    font-size: 18px;
    border: 1px solid;
    border-radius: 5px;
    margin-bottom:20px;
}

.mytext {
    font-size: 18px;
    color: #C4261D;
    float:right;
    margin-bottom: 43px;
}

.submit {
    width: 335px;
    height: 45px;
    background-color: #C4261D;
    border: 0px;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    margin-bottom: 0px;
}

.smallredword{
    margin-top: 21px; 
    color:#C4261D; 
    margin-bottom:118px;
    margin-left: 10px;
    font-size:16px;
    float: left;
}

.popup_field{
    position: relative;
    width: 275px;
    height: 45px;
    font-size: 18px;
    border-radius: 5px;
    color: #d0d8e1;
    border: 1px;
    border-style: solid;
    margin-bottom:20px;
    margin-left: auto;
    margin-right: auto;
}

.popup_submit{
    position: relative;
    width: 275px;
    height: 55px;
    font-size: 20px;
    background-color: #C4261D;
    border: 0px;
    color: white;
    border-radius: 5px;
    text-align: center;
}

.popup_logo{
    position: relative;
    width:192px;
    height:28px;
}

.popup_sign_up{
    position: relative;
    width: 275px;
    height: 55px;
    font-size: 18px;
    background-color: #5674D6;
    border: 0px;
    color: white;
    border-radius: 5px;
    margin-top: 30px;
    margin-bottom: 30px;
    padding-top: 15px;
    text-align: center;
}

.remember_forget{
    color:#C4261D; 
    margin-top: 20px;
    margin-left: 8px;
    font-size:16px;
    float: left;
}

.modal {
    border: 1px solid;
    padding: 0 !important;
}