body {
    background-color: white;
}

.img4 {
    width:30%;
    position: relative;
    height: 100%;
    float: left;
    left: 4%;
    margin-left: 5px;
    /*background: "img/stories/4.png";*/
    /*background-image: url("../img/stories/4.png");*/
    /*background-position: center center;*/
    /*background-repeat: no-repeat;*/
    /*background-size: cover; */
    /*overflow: hidden;*/
}

.btn-primary {
    color: rgb(83,170,142);
    background-color: transparent;
    border-color: rgb(83,170,142);
    padding: 1px 12px;
    width: 80px;
    margin-top: 35%;
    
}


.img4:hover > .cover {
    opacity: 0.9;
}





.cover {
    width: 80%;
    height: 80%;
    opacity: 0;
    color: white;
    position: absolute;
    top: 10%;
    left: 10%;
    background-color: black;
    -moz-transition-property: all;
    -o-transition-property: all;
    -webkit-transition-property: all;
    transition-property: all;
    -webkit-transition-duration: 0.6s;
    -moz-transition-duration: 0.6s;
    -o-transition-duration: 0.6s;
    transition-duration: 0.6s;
}



h1 {
    font-size: 220%;
    font-weight: bold;
    display: inline-block;
}

h2 {
    font-size: 220%;
    display: inline-block;
}

.title {
    height: 300px;
    text-align: center;
    top: 200px;
    position: relative;
}

.hr {
    width: 30px;
    position: relative;
    margin: auto;
    border: 3px solid #c4261d;
}

.pictures {
    position: relative;
    /*margin-left: 10%;*/
    /*margin-right: 10%;*/
    height: 35%;
    text-align: center;
    top:5%;
    /*display: inline-block;*/
}

.empty {
    height: 200px;
}

.container {
    height: 700px;
}

p {
    color: gray;
    font-size: 115%;
}

ul li ul {
  background-color: white;
}
