<h2>有新的标书</h2>
<hr>
<p>Hi <%= @user.email %>,</p>
<p>We wanted to let you know we add a new bid, please check on our website. </p>
<p>项目标题: <%= @bid.position %></p>
<p>部门: <%= @bid.department %></p>
<p>截止日期: <%= @bid.deadline %></p>
<p>- Clou Website</p>