<h2>有新的标书</h2>
<hr>
<p>Hi <%= @user.email %>,</p>
<p>科陆电子官网已有新的标书上传，请进入我们的网站查看。 </p>
<p>项目标题: <%= @bid.position %></p>
<p>部门: <%= @bid.department %></p>
<p>截止日期: <%= @bid.deadline %></p>
<p>这只是一封系统自动发送的邮件，请不要直接回复。</p>
<p>- Clou Website</p>