<title>忘记密码</title>
<link rel="stylesheet" type="text/css" href="/css/devise.css">

<div class="main contain">
  <h1>忘记密码</h1>
  <hr class="hr">

  <div class="content">
    <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>
      
      <div class = "block_left">
        <span class='mytext'>登录邮箱</span>
      </div>
      
      <div class = "block_right">
        <%= f.email_field :email, autofocus: true, :class => 'myfield', :placeholder => "登录邮箱" %>
        <%= f.submit "send me reset password instruction", :class => 'submit' %>
      </div>

  </div>
  <% end %>

</div>

