<link rel="stylesheet" type="text/css" href="/css/stories.css">
<div class="title">
    <h1>员 工 故 事</h1>
    <br>
    <hr class="hr"><br>
    <p>在这里，读他们的故事，让我们感受每一步足迹，每一次成长。</p>
</div>

<div class="content cf contain">
			<div class="grid cf">
				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>My last weekend in Shenzhen</h3>
						<span class="small-print yellow">by Greg Jackson- HCE Explorer</span>
					</div>
					<a href="stories?story=4" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>Being Vegetarian in China</h3>
						<span class="small-print yellow">by Evan Williams - HCE Mentor</span>
					</div>
					<a href="stories?story=1" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>My Frist day in Shenzhen</h3>
						<span class="small-print yellow">by Greg Jackson- HCE Explorer</span>
					</div>
					<a href="stories?story=2" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>Breaking Out of Your Shell</h3>
						<span class="small-print yellow">by Monique Ting - HCE Mentor</span>
					</div>
					<a href="stories?story=3" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>Finding Your Niche</h3>
						<span class="small-print yellow">by Monique Ting - HCE Mentor</span>
					</div>
					<a href="stories?story=5" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>Interview with Jubal</h3>
						<span class="small-print yellow">HCE Mentor</span>
					</div>
					<a href="stories?story=6" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>Interview with Joseph</h3>
						<span class="small-print yellow">HCE Mentor</span>
					</div>
					<a href="stories?story=7" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>Interview with Geliza</h3>
						<span class="small-print yellow">HCE Mentor</span>
					</div>
					<a href="stories?story=8" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>Broaden your horizons</h3>
						<span class="small-print yellow">by Evan Williams - HCE Mentor</span>
					</div>
					<a href="stories?story=9" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>Having a second family</h3>
						<span class="small-print yellow">by Goddess - HCE Mentor</span>
					</div>
					<a href="stories?story=10" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>Teaching English in LA &amp; China</h3>
						<span class="small-print yellow">by Adrian - HCE Teacher</span>
					</div>
					<a href="stories?story=11" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/img/stories/2636023_orig.jpg)">
					<div class="story-info">
						<h3>This is what you make of it</h3>
						<span class="small-print yellow">by Monique Ting - HCE Mentor</span>
					</div>
					<a href="stories?story=12" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/photos/stories/story13-thumb.jpg)">
					<div class="story-info">
						<h3>Group hiking</h3>
						<span class="small-print yellow">in Shenzhen</span>
					</div>
					<a href="stories?story=13" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/photos/stories/story14-thumb.jpg)">
					<div class="story-info">
						<h3>Visiting National art museum</h3>
						<span class="small-print yellow">in Beijing</span>
					</div>
					<a href="stories?story=14" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>

				<div class="grid-element story-tile" style="background-image: url(/photos/stories/story15-thumb.jpg)">
					<div class="story-info">
						<h3>My experience with HCE</h3>
						<span class="small-print yellow">by Travis - HCE Mentor</span>
					</div>
					<a href="stories?story=15" class="story-overlay">
						<h4>Read full story</h4>
						<hr>
					</a>
				</div>
			</div>
		</div>
		
