<!--Title of Home page-->
<title>CLOU Home</title>
<link rel="stylesheet" type="text/css" href="/css/index.css">
<body>
    <div class="banner">
        <a id="bannerBtn" href="/about_us" role="button">点击了解详情</a>
    </div>
</body>

