<link rel="stylesheet" type="text/css" href="/css/general.css">
<div class="mainfield">
    <div class="text-field">
        <h5>产品名称</h5>
        <hr class="hr">
        <img src="img/product/product.jpg" class="productimage">
        <p class="body">1、产品概述：

科陆驱动新能源电动汽车驱动电机控制器系统适用于纯电动及混合动力的物流车、乘用车、环卫车等。产品采用汽车级元器件，模块化硬件、优秀的散热设计，多合一定制，调速范围宽、弱磁性能优异，具有完备的故障诊断和保护策略，并能支持后台监控和CAN通讯。具有功能完善、能耗低、续驶里程长、可靠性高、效率高等特点，最高效率可达98%以上。


2、产品优势：

研发优势（拥有自主知识产权核心技术）：

²  电动汽车电机底层控制技术

²  高性能DSP应用技术

²  电动汽车车辆电控控制策略及其综合匹配技术

²  电动汽车车辆各工况平顺性控制、线性拟合控制技术

²  电动汽车电机控制器IGBT驱动技术

²  电网、车辆间大功率电流转换时的负载突变、电压突变、频率漂移时的安全控制技术

²  大功率交流可控整流充电技术

²  大功率离网带载控制技术

²  无位置空间矢量电机控制器技术</p>
    </div>
</div>
<div class="downloadfield">
    <h6>点击下载产品文档</h6>
    <a href="/" class="downloadlink">adfadfa</a>
    <a href="/" class="downloadlink">adfadfa</a>
</div>

