<link rel="stylesheet" type="text/css" href="/css/joinus.css">
<div class="joinusnav">
    <div class="navlinks">
        <h1>加入我们</h1>
        <a class="nav-links">社会招聘</a>
        <a class="nav-links">校园招聘</a>
        <a class="nav-links">认识科陆</a>
        <a class="nav-links">人在科陆</a>
    </div>
    
</div>

<div class="joinusbanner">
    <div class="joinusslogan">
        <h2>我是文案文案文案文案文案文案文案文案</h2>
    </div>
    
</div>