<title>申请成功</title>
<link rel="stylesheet" type="text/css" href="/css/devise.css">

<div class="main contain">
  <h1>申请成功</h1>
  <hr class="hr">
  <div class="content" style="min-height: 300px;">
      <p>我们已经收到您的申请，请等待管理员为您授权，授权后将通过邮件的方式通知您。</p>
      <a href="/">返回首页></a>
  </div>
</div>



