<link rel="stylesheet" type="text/css" href="/css/service.css">
<div class="servicebanner" style="background-image: url('../img/services/servicebanner.jpg') !important;">
    <div class="servicecover">
        <div class="serviceslogan contain">
            <h2>以客户为中心</h2>
            <h3>让客户省心、省时、省力</h3>
            <hr class="hr">
        </div>
        <div class="ourstory-background">
            <div class="ourstoryreal">
                <p class="storybanner">科陆集团服务热线800-990-986</p>
                <%= link_to "点击查看产品线服务电话>", '/servicecontact', class:"storylink"%>
        </div>
    
        </div>
        
    </div>

</div>




<div class="servicescontainer contain">
    <div class="singleservice" style="margin-right: 5%;">
        <div class="earphoneicon" style="background-image: url('../img/services/earphone.png') !important;"></div>
        <h5>客服案例</h5>
        <p class="servicep">最新的案例</p>
        <a class="servicelink" href="/case_types">点击查看客服案例详情></a>
    </div>
    <div class="singleservice">
        <div class="earphoneicon" style="background-image: url('../img/services/questionmark.png') !important;"></div>
        <h5>疑难解答</h5>
        <p class="servicep">如您有疑问，请查看疑难解答</p>
        <a class="servicelink" href="/q_types">点击查看疑难解答详情></a>
    </div>
</div>
<div class="servicescontainer contain" style="margin-bottom: 150px">
    <div class="singleservice" style="margin-right: 5%;">
        <div class="earphoneicon" style="background-image: url('../img/services/pen.png') !important;"></div>
        <h5>投诉反馈</h5>
        <p class="servicep">如您发现我们工作中有任何疏漏及让您不满意的地方，请及时通知我们。</p>
        <!--<a class="servicelink" href="#">点击查看客服案例详情></a>-->
        <%= link_to '点击进入投诉反馈>', new_complain_path, class:'servicelink'%>
    </div>
    <div class="singleservice">
        <div class="earphoneicon" style="background-image: url('../img/services/textboard.png') !important;"></div>
        <h5>故障报修</h5>
        <p class="servicep">如您有设备故障，请在此提交申请，我们将第一时间作出反应。</p>
        <%= link_to '点击进入故障报修>', new_trouble_path, class:'servicelink'%>
    </div>
</div>
