<link rel="stylesheet" type="text/css" href="/css/service.css">
<div class="servicebanner">
    <div class="servicecover">
        <div class="serviceslogan contain">
            <h2>我是文案文案文案文案文案文案文案文案</h2>
            <h3>我是小文案</h3>
            <hr class="hr">
        </div>
        <div class="ourstory-background">
            <div class="ourstoryreal">
                <p class="storybanner">科陆集团服务热线800990986</p>
                <!--<a class="storylink">了解我们的故事></a>-->
                <%= link_to "点击查看产品线服务电话>", '/servicecontact', class:"storylink"%>
        </div>
    
        </div>
        
    </div>

</div>




<div class="servicescontainer contain">
    <div class="singleservice" style="margin-right: 5%;">
        <div class="earphoneicon" style="background-image: url('../img/services/earphone.png') !important;"></div>
        <h5>客服案例</h5>
        <p class="servicep">客服案例文案客服案例文案客服案例服案例服案例服案例服 客服案例文案客服案例文案客服案例服案例服案例服案例服 客服案例文案描述文字</p>
        <a class="servicelink" href="/case_types">点击查看客服案例详情></a>
    </div>
    <div class="singleservice">
        <div class="earphoneicon" style="background-image: url('../img/services/questionmark.png') !important;"></div>
        <h5>Q&A</h5>
        <p class="servicep">客服案例文案客服案例文案客服案例服案例服案例服案例服 客服案例文案客服案例文案客服案例服案例服案例服案例服 客服案例文案描述文字</p>
        <a class="servicelink" href="/q_types">点击查看客服案例详情></a>
    </div>
</div>
<div class="servicescontainer contain" style="margin-bottom: 150px">
    <div class="singleservice" style="margin-right: 5%;">
        <div class="earphoneicon" style="background-image: url('../img/services/pen.png') !important;"></div>
        <h5>投诉反馈</h5>
        <p class="servicep">客服案例文案客服案例文案客服案例服案例服案例服案例服 客服案例文案客服案例文案客服案例服案例服案例服案例服 客服案例文案描述文字</p>
        <!--<a class="servicelink" href="#">点击查看客服案例详情></a>-->
        <%= link_to '点击进入投诉反馈>', new_complain_path, class:'servicelink'%>
    </div>
    <div class="singleservice">
        <div class="earphoneicon" style="background-image: url('../img/services/textboard.png') !important;"></div>
        <h5>故障报修</h5>
        <p class="servicep">客服案例文案客服案例文案客服案例服案例服案例服案例服 客服案例文案客服案例文案客服案例服案例服案例服案例服 客服案例文案描述文字</p>
        <%= link_to '点击进入故障报修>', new_trouble_path, class:'servicelink'%>
    </div>
</div>
