<link rel="stylesheet" type="text/css" href="/css/supplier.css">

<div class="supplierbanner">
    <div class="suppliercover">
        
    </div>

</div>

    <div class="supplierslogan">
        <h2>我是文案文案文案文案文案文案文案文案</h2>
        <h3>我是小文案</h3>
        <hr class="hr">
    </div>
    <div class="ourstory-background">
        
    </div>
    <div class="ourstoryreal">
        <p class="storybanner">关于采购的文案我想不出</p>
        <a class="storylink" href="/bids">合作伙伴></a>
    </div>
