<link rel="stylesheet" type="text/css" href="/css/supplier.css">
<div class="suppliernav">
    <div class="navlinks">
        <h1>合作伙伴</h1>
        <a href="http://sapepq.szclou.com:50000/irj/portal" class="nav-links" target="_balnk">SRM培训系统</a>

        <a href="http://sapsrqap.szclou.com:8000/slc_selfreg(bD16aCZjPTIyNSZkPW1pbg==)/bspwdapplication.do#VIEW_ANCHOR-ROS_TOP" target="_balnk" class="nav-links">供应商注册</a>
    </div>
    
</div>

<div class="supplierbanner">
    <div class="suppliercover">
        
    </div>

</div>

    <div class="supplierslogan">
        <h2>合作即是双赢，最佳永无止境</h2>
        <h3>我们只追求更优秀的品质</h3>
        <hr class="hr">
    </div>
    <div class="ourstory-background">
        
    </div>
    <div class="ourstoryreal">
        <p class="storybanner">马上加入我们成为合作伙伴</p>
        <a class="storylink" href="/bids">查看招标信息></a>
    </div>
