<link rel="stylesheet" type="text/css" href="/css/newsspec.css">
<div class="mainfield">
    <div class="text-field">
        <h5>12131</h5>
        <hr class="hr">
        
        <img class="productimage" src="/img/product/product.png">
        <div class="body" id="productbody">adfadfadfadf</div>
    </div>
</div>
