<link rel="stylesheet" type="text/css" href="/css/news.css">
<div class="newsbanner">
    <div class="newsslogan">
        <h1>啦啦啦我是大图解释文</h1>
        <h2>llalalalla</h2>
        <hr class="hr">
    </div>
    
</div>
<div class="newsmain">
    
</div>