<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="left">
    <h5>智能电网</h5>
    <hr class="hr">
    <ul>
        <li>
            <a href="/" class="typeslink">产品类一</a>
        </li>
        <li>
            <a href="/" class="typeslink">产品类二</a>
        </li>
    </ul>
</div>
<div class="right">
    <div class="title">
        <h6>智能配电</h6>
        <hr class="righthr">
    </div>
    <ul class="products_list current " id ="1">
    <div class="product">
        <img src="img/product/product.jpg" class="productimage">
        <div class="text-field">
            <a class="producttitle" href="/">智能用电系统</a>
            <p class="productdiscription"> 深圳市科陆电子科技股份有限公司（股票代码：002121）是国家级高新技术企业，致力于为智能电网和新能源应用、节能减排提供整体技术与产品解决方案
            。企业成立于1996年，于2007年3月在深圳证交所挂牌上市。现注册资本47609.3万元，员工3000余人，拥有超过700人的技术研发团队，在深圳建有近3.6万平方米的研发基地和近
            </p>
        </div>
        
    </div>
    
    <div class="product">
        <img src="img/product/product.jpg" class="productimage">
        <div class="text-field">
            <a class="producttitle" href="/">智能用电系统</a>
            <p class="productdiscription"> 深圳市科陆电子科技股份有限公司（股票代码：002121）是国家级高新技术企业，致力于为智能电网和新能源应用、节能减排提供整体技术与产品解决方案
            。企业成立于1996年，于2007年3月在深圳证交所挂牌上市。现注册资本47609.3万元，员工3000余人，拥有超过700人的技术研发团队，在深圳建有近3.6万平方米的研发基地和近
            </p>
        </div>
        
    </div>
    
    <div class="product">
        <img src="img/product/product.jpg" class="productimage">
        <div class="text-field">
            <a class="producttitle" href="/">智能用电系统</a>
            <p class="productdiscription"> 深圳市科陆电子科技股份有限公司（股票代码：002121）是国家级高新技术企业，致力于为智能电网和新能源应用、节能减排提供整体技术与产品解决方案
            。企业成立于1996年，于2007年3月在深圳证交所挂牌上市。现注册资本47609.3万元，员工3000余人，拥有超过700人的技术研发团队，在深圳建有近3.6万平方米的研发基地和近
            </p>
        </div>
        
    </div>
        <div class="product">
        <img src="img/product/product.jpg" class="productimage">
        <div class="text-field">
            <a class="producttitle" href="/">智能用电系统</a>
            <p class="productdiscription"> 深圳市科陆电子科技股份有限公司（股票代码：002121）是国家级高新技术企业，致力于为智能电网和新能源应用、节能减排提供整体技术与产品解决方案
            。企业成立于1996年，于2007年3月在深圳证交所挂牌上市。现注册资本47609.3万元，员工3000余人，拥有超过700人的技术研发团队，在深圳建有近3.6万平方米的研发基地和近
            </p>
        </div>
        
    </div>
        <div class="product">
        <img src="img/product/product.jpg" class="productimage">
        <div class="text-field">
            <a class="producttitle" href="/">智能用电系统</a>
            <p class="productdiscription"> 深圳市科陆电子科技股份有限公司（股票代码：002121）是国家级高新技术企业，致力于为智能电网和新能源应用、节能减排提供整体技术与产品解决方案
            。企业成立于1996年，于2007年3月在深圳证交所挂牌上市。现注册资本47609.3万元，员工3000余人，拥有超过700人的技术研发团队，在深圳建有近3.6万平方米的研发基地和近
            </p>
        </div>
        
    </div>
    <div class="product">
        <img src="img/product/product.jpg" class="productimage">
        <div class="text-field">
            <a class="producttitle" href="/">智能用电系统</a>
            <p class="productdiscription"> 深圳市科陆电子科技股份有限公司（股票代码：002121）是国家级高新技术企业，致力于为智能电网和新能源应用、节能减排提供整体技术与产品解决方案
            。企业成立于1996年，于2007年3月在深圳证交所挂牌上市。现注册资本47609.3万元，员工3000余人，拥有超过700人的技术研发团队，在深圳建有近3.6万平方米的研发基地和近
            </p>
        </div>
        
    </div>
    
    </ul>
    <ul class="products_list next" id="2">
        <div class="product">
        <!--<img src="img/product/product.jpg" class="productimage">-->
        <div class="productimage" style></div>
        <div class="text-field">
            <a class="producttitle" href="/">智能用电系统</a>
            <p class="productdiscription"> 深圳市科陆电子科技股份有限公司（股票代码：002121）是国家级高新技术企业，致力于为智能电网和新能源应用、节能减排提供整体技术与产品解决方案
            。企业成立于1996年，于2007年3月在深圳证交所挂牌上市。现注册资本47609.3万元，员工3000余人，拥有超过700人的技术研发团队，在深圳建有近3.6万平方米的研发基地和近
            </p>
        </div>
        
    </div>
    </ul>
    <div class="page-nav">
        <p class=pageinfo>第 1 页 共 2 页 8条记录</p>
        <a class="btn navbtn bright" id="next">下一页</a>
        <a class="btn navbtn bleft" id="prev">上一页</a>
    </div>
    
</div>

<script>
    $(function () {

      var stepNumber = 0,
    sumProgPortion = 0,
    appStepsTotal = $('.products_list').length,
    progPortion = 100 / appStepsTotal;
     window.alert(appStepsTotal);
  // APPLICATION FORM
  $('#next').on('click', function (e) {
    e.preventDefault();

    var $inView = $('.current');


    $('.current').next().removeClass('next').addClass('current');
    $inView.removeClass('current').addClass('prev');

    stepNumber++;

    sumProgPortion = sumProgPortion + progPortion;

    if (stepNumber > 0) {
      $('#prev').show();
    }
    

    if (stepNumber === appStepsTotal - 1) {
      $('#next').hide();
      e.stopPropagation();
    }

  });
  
    $('#prev').on('click', function (e) {
    e.preventDefault();

    var $inView = $('.current');

    $('.current').prev().removeClass('prev').addClass('current');
    $inView.removeClass('current').addClass('next');

    stepNumber--;



    if (stepNumber < 1) {
      $(this).hide();
    }
    

    if (stepNumber < appStepsTotal - 1) {
      $('#next').show();
      $('.submit-btn').hide();
    }
  
  });
})
</script>