body {
  color: inherit;
  font-family: 'Raleway', sans-serif;
}

body.rails_admin .sidebar-nav .dropdown-header {
  color: inherit;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: normal;
  text-transform: inherit;
  cursor: pointer;
  &::after {
    content: "\f138";
    position: absolute;
    right: 15px;
    color: gray;
    font-family: 'FontAwesome', sans-serif;
  }
}

.sidebar-nav {
  i {
    margin-right: 10px;
  }
}

.nav-tabs > li > a {
  border-radius: 2px 2px 0 0;
}

.nav-tabs {
  li {
    border-radius: 2px;
  }
  a.dropdown-toggle, a {
    color: inherit;
  }
}

.navbar-default {
  border: 0;
}

.dropdown-header.open {
  &::after {
    content: "\f13a" !important;
    position: absolute;
    right: 15px;
    color: inherit;
    font-family: 'FontAwesome', sans-serif;
  }
}

.navbar-header {
  margin-left: -15px;
}

a.navbar-brand {
  line-height: 25px;
  padding-top: 12px;
  black-space: nowrap;
  color: inherit !important;
  cursor: pointer !important;
  &:hover {
    color: inherit !important;
  }
}

.sub-menu a {
  padding: 10px 15px 10px 30px;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: normal;
  text-transform: inherit;
  cursor: pointer;
  display: block;
  text-decoration: none;
}