body {
  color: black;
  font-family: 'Raleway', sans-serif;
}

body.rails_admin .sidebar-nav .dropdown-header {
  color: black;
  padding: 10px 15px;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: normal;
  text-transform: inherit;
  cursor: pointer;
  &::after {
    content: "\f138";
    position: absolute;
    right: 15px;
    color: black;
    font-family: 'FontAwesome', sans-serif;
  }
}

body.rails_admin .table .headerSortUp, body.rails_admin .table .headerSortDown,
{
  background-color: inherit;
  text-shadow: none;
}

body.rails_admin .table .header:after,
{
  visibility: visible !important;
}

.nav .nav-pills .nav-stacked {
  margin-top: 4px;
}

body.rails_admin .sidebar-nav > .nav-stacked > li > a {
  padding: 10px 15px;
}

.links {
  ul li {
    a {
      color: black;
    }
    &:nth-child(1) {
      a {
        background: #29B6F6;
        color: black;
      }
    }
    &:nth-child(2) {
      a {
        background: #66BB6A;
        color: black;
      }
    }
    &:nth-child(3) {
      a {
        background: #ef5350;
        color: black
      }
    }
  }
}

.alert-info {
  background-color: #3498db;
  border: 0;
  color: #fff;
}

.alert-success {
  background-color: #2ecc71;
  border: 0;
  color: #fff;
}

.alert-danger {
  background-color: #e74c3c;
  border: 0;
  color: #fff;
}

.btn {
  border-radius: 2px;
  color: black !important;
}


.alert {
  border-radius: 2px;
}

.sidebar-nav {
  i {
    margin-right: 10px;
  }
}

.nav-tabs > li > a {
  border-radius: 2px 2px 0 0;
}

.nav-tabs {
  li {
    border-radius: 2px;
  }
  a.dropdown-toggle, a {
    color: black;
  }
}

.navbar-default {
  border: 0;
}

.dropdown-header.open {
  &::after {
    content: "\f13a" !important;
    position: absolute;
    right: 15px;
    color: black;
    font-family: 'FontAwesome', sans-serif;
  }
}

.navbar-header {
  margin-left: -15px;
}

a.navbar-brand {
  line-height: 25px;
  padding-top: 12px;
  black-space: nowrap;
  color: black !important;
  cursor: pointer !important;
  &:hover {
    color: black !important;
  }
}

.page-header {
  margin-top: 0;
  h1 {
    padding: 10px 15px;
    color: black;
    border-radius: 2px;
    text-transform: uppercase;
    margin-top: 0;
  }
}

.form-control {
  border-radius: 2px;
}

.nav-pills > li > a:hover,
.nav-pills > li > a:focus {
}

.root_links {
  .dashboard_root_link, .edit_user_root_link, .dashboard_root_link, li {
    .label-danger {
      padding: 5px 10px;
    }
    color: black;
    &:hover {
    }
    a {
      &:hover {
        color: black !important;
      }
    }
  }
}

.sub-menu a {
  color: black;
  padding: 10px 15px 10px 30px;
  font-size: 14px;
  line-height: 1.42857143;
  font-weight: normal;
  text-transform: inherit;
  cursor: pointer;
  display: block;
  text-decoration: none;
}