<link rel="stylesheet" type="text/css" href="/css/general.css">
<div class="mainfield">
    <div class="text-field">
        <h5><%= @product.name%></h5>
        <hr class="hr">
        <%= image_tag @product.image, class:"productimage"%>
        <div class="body" id="productbody"><%= @product.detail.html_safe %></div>
    </div>
</div>
<div class="downloadfield">
    <%if @product.attachment_url != nil%>
        <% if current_user and current_user.authorized == true %> 
            <%= link_to "下载产品文档", @product.attachment_url, class: "downloadlink" %>
        <% elsif current_user and current_user.authorized == false %>
            <p class="downloadlink">您是未授权用户,无法下载产品文档</p>
        <% else %> 
            <p class="welcomewords">请</p>
            <a  class="login login-link" href="#" onclick="return false;">登录</a>
            <p class="welcomewords">后下载产品文档</p>
        <%end%>
    <%end%>
</div>
<script>
    $(document).ready(function () {
        $('#products').addClass('act');
    });
</script>
