<!-- Latest compiled and minified CSS bootstrap-->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<select id="product_Type_id" name="product[Type_id]" class='form-control' style='width:200px;'>

    <%if select_type.Type_id %>
        <option><%= Type.find(select_type.Type_id).name %></option>
    <% end %>
</select>
