<%if current_user.role == 'developer' or current_user.role == 'superadmin'%>
    <div class="checkbox">
        <label style="display: block;">
        <input value="0" type="checkbox" name="<%=@model_name.underscore%>[Authorized]" id="authorized">
        </label>
    </div>
<%else%>
    <p class='help-block' style="font-size:14px !important; margin-top:8px !important;">请等待审核通过后发布</p>
<%end%>
