<ul>
  <% current_user.hashmap.each_key do |k| %>
      <li>
        <%= check_box_tag 'current_user_authorities', k -%>
        <%= k -%>
      </li>
  <% end %>
</ul>

<<<<<<< HEAD
<input id="authorities_field"  name="user[authorities]" value="">
=======
<input id="user_authorities_field"  name="user[authority]" value="">
>>>>>>> 04b0bcea9032d3adc596b9c6fe7f006f5f90303e
