<ul>
  <% current_user.hashmap.each_key do |k| %>
      <li>
        <%= check_box_tag 'current_user_authorities', k -%>
        <%= k -%>
      </li>
  <% end %>
</ul>

<input id="user_authorities_field"  name="user[authority]" value="" style='display:none;'>
