<!--specialcase one#index-->
<link rel="stylesheet" type="text/css" href="/css/specialnews.css">
<div class="main contain">
    <div class="topnews">
        <h1>〝CIBF2016〞登陆鹏城，科陆储能闪耀全场</h1>
    </div>
    <hr class="hr">
    <div class="topnewscontent">
        <div class="newsimg" style='background-image: url("../img/specialnews/01pic.jpg")'></div>
        <p class="newsoutline"> &nbsp; &nbsp;&nbsp;&nbsp;5月24日，由中国化学与物理电源行业协会主办、被誉为“电池行业第一展”的“第十二届中
        国国际 电池技术交流会/展览会（CIBF2016）”在深圳会展中心拉开帷幕。2016年是“十三五”的开局之年，在今年召开“中国国际电池技术交流会/展览会”，既为国内外电池产业
        人士提供了交流“十二五”科研与应用成果的机会，也有助于厘清我国电池行业今后五年的发展方向，可以说是电池界一次“承上启下”的盛会。</p>
    </div>
    <hr style="margin-bottom: 50px;">
    
    <%@news.each do |news|%>
        <div class="specialnews" style='background-image: url("<%= news.image%>");'>
            <div class="feature-gradient">
                
            </div>
            <!--<a href="#" class="specialnewslink"></a>-->
            <%= link_to "", special_news_one_path(:id => 1), class:"specialnewslink" if SpecialNewsOne.count >= 1 %>
            <div class="figcaption">
                <h2><%= news.title%></h2>
                <p class="newscontentp"><%= news.description%></p>
    
            </div>
        </div>
    <%end%>
    

    
    <div class="footnews">
        <h1>“2016第六届中国国际储能大会” 科陆斩获三项大奖</h1>
    </div>
    <hr class="hr">
    <p class="bottomnewscontent">
            5月24日，为期3天的“第六届中国国际储能大会”在世界创新高地深圳的会展中心盛大开幕，来自全球的约600位储能专
    业人士就先进储能技术的创新与推广应用进行了富有成效的交流沟通，并发布了“2016年度中国储能产业最具影响力”名单和“2016年度中国化学与物理电源行业协会储能应用分会优秀专家委员”名单。 深圳市科陆电子科技股份有限公司荣膺本次大会设立的“2016中国储能产业最具有影响力企业”、“2016中国储能产业最佳微电网示范工程”及“2016中国储能产业最佳系统集成解决方案供应商”三大企业奖项。同时，科陆首席技术专家阮海明作为唯一企业级代表获得“2016年度中国化学与物理电源行业协会储能应用分会优秀专家委员”殊荣。此次
    颁奖典礼由中国工程院院士顾国彪、中国化学与物理电源行业协会秘书长刘彦龙、科陆董事长，储能应用分会理事长饶陆华先生为获奖企业及代表颁奖。
    </p>
    <div class="specialoneimagefield">
        <div class="singleimage" style="background-image: url('../img/specialnews/honer1.jpg')">
            
        </div>
        <div class="singleimage" style="background-image: url('../img/specialnews/honer2.jpg')">
            
        </div>
        <div class="singleimage" style="background-image: url('../img/specialnews/honer3.jpg')">
            
        </div>
        <div class="singleimage" style="background-image: url('')">
            
        </div>
    </div>
    <div class="specialvideos">
        <h1>相关视频</h1>
        <hr class="hr">
        <div class="videos">
            <div class="video leftpart">
                <a class='videoone' style="background-image: url('../img/specialnews/video1.jpg')"></a>
                <a id="video_one_link" href="#" style="font-size: 16px;" onclick="return false;">科陆智慧能源－规模储能</a>
            </div>
            <div class="video rightpart">
                <a class='videoone' style="background-image: url('../img/specialnews/video2.jpg')"></a>
            <a id="video_two_link" style="font-size: 16px;" href="#" onclick="return false;">科陆智慧能源－储能溢价02</a>

            </button>
            </div>
        </div>
    </div>
    
    
    
</div>


<!-- Modal video one -->
<div class="modal hide fade" id="video_one_modal">
    

  <div id="videocenter" class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;"><span aria-hidden="true">&times;</span></button>
    
    <video class="newsvideo" src="/videos/video1.mp4"  controls="controls">
        Your browser does not support the video tag.
    </video>

  </div>

  
</div> 






<!-- Modal video two -->
<div class="modal hide fade" id="video_two_modal">
    

  <div id="videocenter" class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-label="Close" style="color:white;"><span aria-hidden="true">&times;</span></button>
    
    <video class="newsvideo" src="/videos/video2.mp4"  controls="controls">
        Your browser does not support the video tag.
    </video>

  </div>

  
</div> 





