<link rel="stylesheet" type="text/css" href="/css/service.css">
<div class="servicecontactbanner">
    <div class="servicecontactbannercover">
    </div>

</div>

<div class="servicecontactslogan contain">
    <h6>集团各主营业务客户技术服务热线</h6> 
    <p class="servicecontactslogonp">联系我们获取更多技术支持</p>
</div>

<div class="groupcontact contain">
    <hr class="hr">
    <h7>科陆集团服务热线</h7>
    <p style="font-size:16px; margin-top: 20px;">800-999-0986 0755-26518603 0755-26518607 0755-26719854</p>
</div>

<div class="subgroupcontact contain">
    <hr class="hr">
    <h7>产品线服务电话</h7>
     <p style="font-size:16px; margin-top: 20px;">智能电能表：0755-26518603  0755-26518607</p>
     <p style="font-size:16px;">用电自动化：0755-26518603  0755-26518607</p>
     <p style="font-size:16px;">变配电设备：0755-86616825  0755-26518603</p>
     <p style="font-size:16px;">科陆电源：  0755-28404005</p>
     <p style="font-size:16px;">上海东自：  18821125271     13636327332</p>
     <p style="font-size:16px;">海外产品：  0755-26551016</p>
     <p style="font-size:16px;">服务紧急联系方式：0755-26999167</p>
</div>