<link rel="stylesheet" type="text/css" href="/css/general.css">
<div class="mainfield">
    <div class="text-field">
        <h5><%= @service_case.title%></h5>
        <hr class="hr">
        <%= image_tag @service_case.image, class:"productimage"%>
        <div class="body" id="productbody"><%= @service_case.text.html_safe %></div>
    </div>
</div>
<div class="downloadfield">
    <%if @service_case.attachment_url != nil%>
        <% if current_user and current_user.authorized == true %> 
            <%= link_to "下载产品文档", @service_case.attachment, class: "downloadlink" %>
        <% elsif current_user and current_user.authorized == false %>
            <p class="downloadlink">您是未授权用户,无法下载产品文档</p>
        <% else %> 
            <p class="welcomewords">请</p>
            <a  class="login login-link" href="#" onclick="return false;">登录</a>
            <p class="welcomewords">后下载产品文档</p>
        <%end%>
    <%end%>
</div>
