<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="left">
    <h5><%= @category.name%></h5>
    <hr class="hr">
    <ul>
        <% counter = 1%>
        <% @category.types.each do |type| %>
        <li>
            <% if counter == 1%>
                <%= link_to(type.name, type_products_path(type), remote: :true, id: "first_field", class: "typeslink") %>
            <% else %>
                <%= link_to(type.name, type_products_path(type), remote: :true, class: "typeslink") %>
            <% end %>
            
        </li>
        <% counter += 1%>
        <% end %>
        

    </ul>
</div>
<div class="right">
    <div class="title">
        
        <hr class="righthr">
    </div>
    <ul class="products_list">
    </ul>

    
</div>

<script>
    $('.typeslink').click(function(){
        $('.typeslink').removeClass('visited');
        $(this).addClass("visited");
    });
    
    $(window).bind("load", function() {
   // code goes here
       document.getElementById('first_field').click();
});
</script>