<link rel="stylesheet" type="text/css" href="/css/products.css">
<div class="left">
    <h5><%= @category.name%></h5>
    <hr class="hr">
    <ul>
        <% @category.types.each do |type| %>
        <li>

            <%= link_to(type.name, type_products_path(type), remote: :true, class: "typeslink") %>
        </li>
        <% end %>
        
        <!--<li>-->
        <!--    <a href="/" class="typeslink">产品类二</a>-->
        <!--</li>-->
    </ul>
</div>
<div class="right">
    <div class="title">
        <h6>智能配电</h6>
        <hr class="righthr">
    </div>
    <ul class="products_list">

    </ul>

    
</div>

<script>
    
</script>