<p>亲爱的用户 <%= @resource.email %>!</p>

<p>欢迎使用科陆电子官网找回密码功能.</p>

<p><%= link_to '请点击此处修改密码', edit_password_url(@resource, reset_password_token: @token) %></p>

<p>如果你错误的接收到此邮件，请不要慌张，也无需执行任何操作。您的密码并不会更改除非您点击以上链接进行修改。</p>
<p>这只是一封系统自动发送的邮件，请不要直接回复。</p>
<p>- Clou Website</p>
