<link rel="stylesheet" type="text/css" href="/css/general.css">
<div class="mainfield">
    <div class="text-field">
        <h5><%= @product.name if @product.name%></h5>
        <hr class="hr">
        <%= image_tag @product.image, class:"productimage" if @product.image %>
        <div class="body" id="productbody"><%= @product.detail.html_safe if @product.detail %></div>
    </div>
</div>
<div class="downloadfield">
    <%if @product.attachment_url != nil%>
        <%= link_to "下载产品文档", @product.attachment_url, class: "downloadlink" %>
    <%end%>
</div>
